nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  font-size: 1rem;
  color: white;
  margin-bottom: 20px;
  background-color: rgb(43, 84, 40);
  height: auto;
  font-family: 'Alatsi', sans-serif;
}

a {
  color: white;
}

a:hover {
  color: rgb(43, 84, 40);
  text-decoration: none;
}

nav li {
  display: inline-block;
  padding: 26px 0;
  width: 25%;
}

ul {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 750px) {
  #cur-score, #top-score {
    font-size: 1rem;
  }
}